# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# Conda
.conda/

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Local creds
trainwatch_config.yaml
trainwatch_run.json

# Cloudflare
.wrangler/

# Secrets
.env
.env.*
trainwatcher_config.yaml
trainwatcher_run.json
